<a class="resource-link" href="<%= @resource.link %>" target="_blank" rel="noopener noreferrer nofollow">
    <div class="title"><%= @resource.title %></div>
    <img src="<%= Routes.static_path(@conn, "/images/link.svg") %>"/>
    <div class="author"><%= Map.get(@users, @resource.user_id) %></div>
</a>
<div class="summary"><%= @resource.summary %></div>
<div class="languages">
    <%= for language <- @resource.languages do %>
    <p><%= language.language %></p>
    <% end %>
</div>