.login {
    @include element(form) {
        margin-bottom: 2rem;

        @include element(button) {
            @include gather-button;
        }
    }

    @include element(note) {
        font-weight: bold;
    }

    @include element(warning) {
        background-color: var(--warning);
        margin: 2rem -0.5rem;
        padding: 0.5rem;
    }
}