/* This file is for your main application css. */

@import "./mixins/bem";
@import "./mixins/buttons";
@import "./colours.css";
@import "./mixins/headers";
@import "./zindices";

@import "~foundation-sites/scss/foundation";
@include foundation-everything();
@import "./nav";

// CSS for individual pages 
@import "./contact";
@import "./home";
@import "./login";

body {
    header {
        background: white;
    }
    background: var(--plain-bg-colour);

    .alert {
        font-weight: bold;
        font-size: 1.2rem;
        text-align: center;
        background: var(--warning);

        @include modifier(danger) {
            background: var(--error);
            color: white;
        }
    }

    // Make links accessible
    a {
        color: var(--secondary-bg-colour);
        font-weight: bold;

        &:hover, &:active, &:focus {
            text-decoration: underline;
            font-size: 1.2rem;
        }
    }

    // Hide the dropdown on select for Firefox since Foundation doesn't seem to.
    select {
        -moz-appearance: none;
    }
}