:root {
    --plain-bg-colour: #FAF8F8;
    --main-bg-colour: #293241;
    --secondary-bg-colour: #3D5A80;
    --text-dark-colour: #98C1D9;
    --text-light-colour: #E0FBFC;
    --accent-colour: #EE6C4D;
    --light-grey: #cbcfd6;
}

