
.comments {
    grid-area: comments;
}

img.comments {
    grid-row: 3;
    grid-column-start: 1;
    width: 50px;
    margin-left: 20px;
}

.comment {
    border-color: var(--light-grey);
    border-style: solid;
    border-width: thin;
    margin: 5px;
    padding: 5px;
    display: grid;
    grid-template-rows: 0.1fr 0.9fr;
    grid-template-columns: 0.8fr 0.2fr;
}

.comments .new-comment {
    padding: 5px;
}

.comment .content {
    grid-row: 2;
}

.comment .time {
    grid-row: 1;
    grid-column: 2;
    font-size: x-small;
    text-align: right;
}

.comments .comment .author {
    grid-row: 1;
    text-align: left;
    color: black;
    grid-column: 1;
    margin: 0;
    font-size: initial;
}

.comments a {
    float: right;

}

.comments textarea {
    width: 100%;
    height: 50px;
}

.comments .comment .details {
    grid-row: 1;
    grid-column: 2;
}

.comments .comment img {
    width: 20px;
    float: right;
}