.home {
    width: 100%;
    padding-top: 10%;
    padding-left: 10%;
    padding-bottom: 12%;

}

.home::before {
    background-image: url(/images/welcome.svg);
    background-size: 200%;
    content: "";
    display: block;
    position: absolute;
    top: -30px;
    left: -100px;
    width: 100%;
    height: 140%;
    opacity: 0.15;
    z-index: -2;
}

.home::after {
    background-color: var(--main-bg-colour);
    top: 10%;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    content: "";
    z-index: -3; 
}

.home h1 {
    color: var(--text-light-colour);
    font-weight: 900;
    line-height: 130%;
    margin-bottom: 30px;
}

.home h3 {
    color: var(--text-dark-colour);
    line-height: 130%;
}