.home {
    width: 100%;
    background-color: var(--main-bg-colour);
    z-index: 1;
}

.home > .words {
    background-image: url(/images/welcome.svg);
    background-size: cover;
    content: "";
    display: block;
    position: absolute;
    width: 100vw;
    height: 150vh;
    opacity: 0.15;
    z-index: 2;
    margin-top: -5rem;
    margin-left: -5rem;
}

.home > .content {
    position: relative;
    z-index: 3;
    padding-top: 10%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 12%;
}

.home h1 {
    color: var(--text-light-colour);
    font-weight: 900;
    line-height: 5.5rem;
    margin-bottom: 1rem;
}

.home h2 {
    color: var(--text-dark-colour);
    font-size: 5rem;
    line-height: 4.5rem;
    margin: 1rem;
}