<h1><%= gettext "Edit Community" %></h1>

<%= render "form.html", Map.put(assigns, :action, Routes.community_path(@conn, :update, @community)) %>

<span><%= link gettext("Back"), to: Routes.community_path(@conn, :index) %></span>
