<li class="dropdown">
    <%= gettext "Admin" %>
    <div class="dropdown-content">
        <%= link gettext("Manage users"), to: Routes.user_path(@conn, :index) %>
        <%= link gettext("Create start task"), to: Routes.task_path(@conn, :new) %>
        <%= link gettext("Add subtask"), to: Routes.task_path(@conn, :new_subtask) %>
        <%= link gettext("Add resource to subtask"), to: Routes.task_path(@conn, :new_resource) %>
    </div>
</li>