<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="Description" content="Gather is a website for refugees arriving in New Zealand. It is intended to help refugees find accommodation, employment, education and a community and sense of belonging as they settle into Aotearoa.">
    <title>Gather</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body>
    <header>
      <ul class="nav dropdown menu" data-dropdown-menu>
        <li>
          <a href="/" class="nav__logo">
            <img src="<%= Routes.static_path(@conn, "/images/logo.png") %>" alt="Gather Logo"/>
          </a>
        </li>
        <%= render "navigation.html", assigns %>
      </section>
    </header>
    <main role="main">
      <p class="alert" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert--danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= render @view_module, @view_template, assigns %>
    </main>
    <script>window.userToken = "<%= assigns[:user_token] %>";</script>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
